body {
  background-color: rgb(250, 250, 250);
}

header {
  padding: 10px;
}

.title-header {
  margin-left: 4rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.homero {
  filter: drop-shadow(5px 5px 10px rgb(37, 37, 37));
  margin-left: 5rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  filter: drop-shadow(1px 1px 2px rgb(37, 37, 37));
}

.description {
  font-size: 1.3rem;
  margin-top: 10px;
}

.btn {
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
  height: 60px;
  width: 200px;
  margin-top: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 4rem;
  color: rgb(63, 63, 63);
}

a {
  text-decoration: none;  
  color: rgb(63, 63, 63);
}

/* Responsive Desing */
@media only screen and (max-width : 700px) {
  .title-header {
    margin-left: 1rem;
  }

  .homero {
    width: 300px;
    margin-left: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 2.1rem;
  }
  
  p {
    font-size: 14px;
  }
}